[Unit]
Description=roboticscape

[Service]
User=root
PIDFile=/var/run/robotcs_cape.pid
ExecStartPre=/usr/bin/startup_routine
ExecStart=/etc/roboticscape/link_to_startup_program
ExecStop=/usr/bin/kill_robot

[Install]
WantedBy=multi-user.target
