[Unit]
Description=robotcontrol
Requires=systemd-modules-load.service

[Service]
User=root
PIDFile=/run/robotcontrol/robotcontrol.pid
ExecStartPre=/usr/bin/rc_startup_routine
ExecStart=-/etc/robotcontrol/link_to_startup_program
ExecStop=/usr/bin/rc_kill

[Install]
WantedBy=multi-user.target
