[Unit]
Description=battery_monitor

[Service]
User=root
PIDFile=/var/run/battery_monitor.pid
ExecStartPre=/usr/bin/battery_monitor -k
ExecStart=/usr/bin/battery_monitor
ExecStop=/usr/bin/battery_monitor -k

[Install]
WantedBy=multi-user.target
