Source: librobotcontrol
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9), devscripts, debconf (>= 0.2.26)
Standards-Version: 3.9.8
Maintainer: James Strawson <james@strawsondesign.com>
Homepage: http://www.strawsondesign.com/

Package: librobotcontrol
Architecture: any
Depends: debconf, ${shlibs:Depends}, ${misc:Depends}
Replaces: roboticscape
Conflicts: roboticscape
Provides: roboticscape
Description: Robot Control Library and Examples
 Hardware support for the Robotics Cape and BeagleBone Blue.
