Source: roboticscape
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9),
         devscripts,
         debconf (>= 0.2.26),
         ti-pru-cgt-installer,
         pru-software-support-package,
Standards-Version: 3.9.5
Maintainer: James Strawson <james@strawsondesign.com>
Homepage: <www.strawsondesign.com>

Package: roboticscape
Architecture: armhf
Description: Robotics Cape Library and Examples
	Supporting library and example programs for the Robotics Cape and Beaglebone Blue
