Source: roboticscape
Section: utils
Priority: optional
Build-Depends: devscripts, debhelper (>= 9), debconf (>= 0.2.26)
Standards-Version: 3.9.5
Maintainer: James Strawson <james@strawsondesign.com>
Homepage: <strawsondesign.com>

Package: roboticscape
Architecture: armhf
Description: Robotics Cape Library and Examples
	Supporting library and example programs for the Robotics Cape and Beaglebone Blue
